html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-image: url("firstPage.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
  max-height: 100vh;
  background-repeat: no-repeat;
  font-optical-sizing: auto;
  font-family: "Comfortaa", serif;
  padding: 0;
}

.menu-btn {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 0;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.menu-btn.active {
  transform: translateX(-200px);
}

.hamburgarmenu {
  width: 50px;
  height: 50px;
  background-color: rgb(247, 211, 102);
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  font-family: oswald, sans-serif;
  font-size: 18px;
  font-weight: bolder;
  background-color: rgb(247, 211, 102);
  max-height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.menu {
  padding: 0;
  list-style: none;
}

.menu li {
  list-style: none;
  margin-right: 20px;
  padding: 1rem 0;
}

nav a {
  text-align: center;
  color: white;
  width: 100%;
  padding: 15px;
  letter-spacing: 15px;
  text-decoration: none;
  float: left;
  display: block;
}

nav a:hover,
nav a:focus {
  color: rgb(36, 60, 48);
  border-bottom: 3px solid rgb(36, 60, 48);
}

nav.active {
  transform: translateX(0);
}

section {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Kaushan Script", serif;
  font-weight: 400;
  font-size: 100px;
  color: rgb(52, 52, 107);
  text-align: left;
  margin-top: 410px;
  margin-left: -550px;
  color: beige;
}

h2 {
  font-family: "Kaushan Script", serif;
  font-weight: 400;
  font-size: 50px;
  padding-top: 60px;
  margin-bottom: 20px;
  color: rgb(52, 52, 107);
}

.title {
  margin-left: 20px;
}

.projects-title {
  padding-top: 65px;
}

.contact-title {
  padding-top: 80px;
}

.about .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 15px;
}

.about-container {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  max-width: 1200px;
}

.image1,
.image2 {
  width: 300px;
  height: 150px;
  margin-bottom: 20px;
  margin-right: 40px;
  padding: 7px;
}

p {
  width: 350px;
  line-height: 1.5;
  font-size: 14px;
}

.work-container .grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.website,
.apps,
.ai,
.react {
  list-style: none;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 15px;
  width: 80px;
  padding-left: 10px;
  margin-top: -8px;
  border-bottom: 2px solid rgb(133, 187, 232);
  background-color: rgb(244, 247, 244);
  box-shadow: 0px 3px 6px 0px rgba(60, 64, 67, 0.3),
    0px 3px 4px 3px rgba(172, 231, 241, 0.15);
}

.website-links-travel,
.website-links-light,
.website-links-weather,
.website-links-clock,
.website-links-joke,
.website-links-anime,
.website-links-quote,
.website-links-ai,
.website-links-dictionary {
  text-decoration: none;
  color: var(--primary-logo-background-color);
  font-weight: 700;
  font-size: 14px;
  padding: 10px 15px;
  width: 100px;
  padding-left: 10px;
  background: rgb(244, 247, 244);
  border-bottom: 2px solid rgb(133, 187, 232);
  box-shadow: 0px 3px 6px 0px rgba(60, 64, 67, 0.3),
    0px 3px 4px 3px rgba(172, 231, 241, 0.15);
  transition: all 2s ease-in-out;
}

.website-links-travel,
.website-links-weather,
.website-links-quote,
.website-links-ai {
  margin-left: -150px;
}

.website-links-light {
  margin-left: -125px;
}

.website-links-joke {
  margin-left: -175px;
}

.website-links-clock {
  margin-left: -160px;
}

.website-links-dictionary {
  margin-left: -160px;
}

.website-links-travel:hover,
.website-links-light:hover,
.website-links-weather:hover,
.website-links-clock:hover,
.website-links-quote:hover,
.website-links-joke:hover,
.website-links-ai:hover,
.website-links-dictionary:hover {
  color: whitesmoke;
  background-color: rgb(160, 163, 68);
  font-weight: 900;
  text-decoration: underline;
}

i {
  font-size: 30px;
  padding: 20px;
  color: rgb(52, 52, 107);
  margin-bottom: -200px;
}

h6 {
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.name,
.email,
.phone,
.message {
  font-size: 14px;
  padding: 8px 260px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-style: none;
  border-bottom: 2px solid rgb(133, 187, 232);
  background-color: rgb(244, 247, 244);
  box-shadow: 0px 3px 6px 0px rgba(60, 64, 67, 0.3),
    0px 3px 4px 3px rgba(172, 231, 241, 0.15);
  background: rgb(244, 244, 242);
}

.contact-me {
  color: rgb(179, 175, 170);
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 100px;
}

.btn {
  background-color: rgb(133, 187, 232);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  box-shadow: 0px 3px 6px 0px rgba(60, 64, 67, 0.3),
    0px 3px 4px 3px rgba(172, 231, 241, 0.15);
  display: block;
  justify-content: center;
  margin-left: 190px;
}

@media (max-width: 1030px) {
  body {
    height: 600px;
  }
}

@media (max-width: 860px) {
  body {
    max-height: 400px;
  }

  h1 {
    margin-left: -410px;
    font-size: 60px;
    margin-top: 300px;
  }

  h2 {
    margin-left: -660px;
    margin-top: -70px;
  }
  p {
    width: 600px;
  }
  .image1 {
    width: 550px;
    height: 300px;
  }

  .image2 {
    display: none;
  }

  .about .row {
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin: 20px;
  }

  .website,
  .apps,
  .ai,
  .react {
    display: none;
  }

  .website-links-travel,
  .website-links-weather,
  .website-links-quote,
  .website-links-ai {
    margin-left: -200px;
  }

  .website-links-light {
    margin-left: -105px;
  }

  .website-links-joke {
    margin-left: -155px;
  }

  .website-links-clock {
    margin-left: -140px;
  }

  .website-links-dictionary {
    margin-left: -140px;
  }
}

@media (max-width: 430px) {
  body {
    width: 100%;
  }
  h1 {
    margin-left: -100px;
  }

  .title {
    margin-left: 200px;
  }

  .projects-title {
    margin-left: -70px;
  }

  p {
    width: 390px;
    margin-left: 180px;
  }

  .image1 {
    width: 650px;
    height: 300px;
    margin: 10px;
  }
  .website-links-light {
    margin-left: -95px;
  }

  .website-links-joke {
    margin-left: -135px;
  }

  .website-links-clock {
    margin-left: -120px;
  }

  .website-links-dictionary {
    margin-left: -120px;
  }

  .contact-title {
    margin-left: -10px;
  }
  .name,
  .email,
  .phone,
  .message {
    font-size: 14px;
    padding: 8px 20px;
    width: 270px;
  }

  .btn {
    margin-left: 110px;
  }
}
