html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
}

.hamburgarmenu {
  width: 50px;
  height: 50px;
  display: block;
  justify-content: start;
  margin-left: -625px;
  margin-top: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-family: oswald, sans-serif;
  background-color: rgb(247, 211, 102);
  display: flex;
  justify-content: space-around;
  max-height: 100vh;
  width: 100%;
}

.menu {
}

.menu li {
  list-style: none;
}

nav a {
  text-align: center;
  color: white;
  width: 100%;
  padding: 20px;
  letter-spacing: 15px;
  text-decoration: none;
  float: left;
  display: block;
}

nav a:hover,
nav a:focus {
  color: rgb(36, 60, 48);
  border-bottom: 3px solid rgb(36, 60, 48);
}

body {
  padding: 0;
  background-image: url("firstPage.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
  max-height: 100vh;
  max-width: 1000px;
  background-repeat: no-repeat;
  font-optical-sizing: auto;
  font-family: "Comfortaa", serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
}

h1 {
  font-family: "Kaushan Script", serif;
  font-weight: 400;
  font-size: 60px;
  color: rgb(52, 52, 107);
  text-align: left;
  margin-top: 440px;
}

.title {
  margin-top: 90px;
  margin-bottom: 40px;
}

.about .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 15px;
}

.about-container {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  max-width: 1200px;
}

.image1,
.image2 {
  width: 300px;
  height: 150px;
  margin-bottom: 20px;
  margin-right: 40px;
  padding: 7px;
}

p {
  width: 350px;
  line-height: 1.5;
  font-size: 14px;
}

.work-container .grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.website,
.apps,
.ai,
.react {
  list-style: none;
  font-weight: 300;
  font-size: 14px;
  padding: 10px 15px;
  width: 80px;
  padding-left: 10px;
  margin-top: -8px;
  border-bottom: 2px solid rgb(133, 187, 232);
  background-color: rgb(244, 247, 244);
  box-shadow: 0px 3px 6px 0px rgba(60, 64, 67, 0.3),
    0px 3px 4px 3px rgba(172, 231, 241, 0.15);
}

.website-links-travel,
.website-links-light,
.website-links-weather,
.website-links-clock,
.website-links-joke,
.website-links-anime,
.website-links-quote,
.website-links-ai,
.website-links-dictionary {
  text-decoration: none;
  color: var(--primary-logo-background-color);
  font-weight: 700;
  font-size: 14px;
  padding: 10px 15px;
  width: 100px;
  padding-left: 10px;
  background: rgb(244, 247, 244);
  border-bottom: 2px solid rgb(133, 187, 232);
  box-shadow: 0px 3px 6px 0px rgba(60, 64, 67, 0.3),
    0px 3px 4px 3px rgba(172, 231, 241, 0.15);
  transition: all 2s ease-in-out;
}

.website-links-travel,
.website-links-weather,
.website-links-quote,
.website-links-ai {
  margin-left: -150px;
}

.website-links-light {
  margin-left: -125px;
}

.website-links-joke {
  margin-left: -175px;
}

.website-links-clock {
  margin-left: -160px;
}

.website-links-dictionary {
  margin-left: -160px;
}

.website-links-travel:hover,
.website-links-light:hover,
.website-links-weather:hover,
.website-links-clock:hover,
.website-links-quote:hover,
.website-links-joke:hover,
.website-links-ai:hover,
.website-links-dictionary:hover {
  color: whitesmoke;
  background-color: rgb(160, 163, 68);
  font-weight: 900;
  text-decoration: underline;
}

i {
  font-size: 40px;
  padding: 20px;
  color: rgb(52, 52, 107);
}

h6 {
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.name,
.email,
.phone,
.message {
  font-size: 14px;
  padding: 8px 260px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-style: none;
  border-bottom: 2px solid rgb(133, 187, 232);
  background-color: rgb(244, 247, 244);
  box-shadow: 0px 3px 6px 0px rgba(60, 64, 67, 0.3),
    0px 3px 4px 3px rgba(172, 231, 241, 0.15);
  background: rgb(244, 244, 242);
}

.contact-me {
  color: rgb(179, 175, 170);
  font-size: 14px;
  font-weight: 700;
  margin-top: 30px;
}

.btn {
  background-color: rgb(133, 187, 232);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  box-shadow: 0px 3px 6px 0px rgba(60, 64, 67, 0.3),
    0px 3px 4px 3px rgba(172, 231, 241, 0.15);
  display: block;
  justify-content: center;
  margin-left: 190px;
}

@media (min-width: 1200px) {
  h1 {
    margin-top: 650px;
  }

  .image2,
  i {
    margin-bottom: 145px;
  }

  .contact-container {
    margin-top: -30px;
  }

  .contact-me {
    margin-bottom: 240px;
  }
}

@media (max-width: 1025px) {
  body {
    max-height: 600px;
  }

  nav {
    font-size: 12px;
    justify-content: space-between;
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  .menu li {
    display: inline;
  }

  .menu a {
    display: block;
  }

  .menu-toggle {
    display: none;
    cursor: pointer;
  }

  h1 {
    margin-top: 480px;
  }
}

@media (max-width: 530px) {
  body {
    max-height: 500px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10vh;
    font-size: 6px;
    letter-spacing: 1px;
  }

  nav a {
    padding: 10px;
  }

  h1 {
    font-size: 40px;
    margin-top: 375px;
    margin-left: 10px;
    text-align: center;
  }

  .title {
    text-align: center;
    margin-top: 20px;
  }

  .image2 {
    display: none;
  }
  .about .row {
    grid-template-columns: 1fr;
    grid-gap: 8px;
    margin: 20px;
  }

  .image1,
  p {
    margin: 0 30px;
  }

  .website,
  .apps,
  .ai,
  .react {
    display: none;
  }

  .website-links-travel,
  .website-links-weather,
  .website-links-quote,
  .website-links-ai {
    margin-left: -200px;
  }

  .website-links-light {
    margin-left: -105px;
  }

  .website-links-joke {
    margin-left: -155px;
  }

  .website-links-clock {
    margin-left: -140px;
  }

  .website-links-dictionary {
    margin-left: -140px;
  }

  .name,
  .email,
  .phone,
  .message {
    font-size: 14px;
    padding: 8px 20px;
    width: 270px;
  }

  .btn {
    margin-left: 110px;
  }
}

@media (max-width: 768) {
  .menu {
    display: none;
    flex-direction: column;
  }

  .menu li {
    display: block;
    text-align: center;
  }

  .menu-toggle {
    display: block;
  }
}
